*{
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
}

.container{
  width: 100%;
  min-height: 100vh;
  background: linear-gradient(135deg,#153677,#4e085f);
  padding: 10px;
}

.todo-app{
  width: 100%;
  max-width: 540px;
  margin: 100px auto 20px;
  background: #fff;
  padding: 40px 30px 70px;
  border-radius: 10px;
}

.todo-app h2{
  color: #002765;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.todo-app h2 img{
  width: 30px;
  margin-left: 10px;
}

.row{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #edeef0;
  border-radius: 30px;
  padding-left: 20px;
  margin-bottom: 25px;
}

#input-box{
  border-radius: 30px;
  flex: 1;
  border: none;
  outline: none;
  padding: 10px;
  background: transparent;
}

#btn{
  border-radius: 40px;
  border: none;
  outline: none;
  background: #ff5945;
  padding: 16px 50px;
  font-size: 16px;
  color: #fff;
  cursor: pointer;
}

#list-container li{
  list-style: none;
  font-size: 17px;
  padding: 12px 8px 12px 50px;
  user-select: none;
  cursor: pointer;
  position: relative;
}

#list-container li::before{
  content: '';
  position: absolute;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  background-image: url(./images-3/unchecked.png);
  background-size: cover;
  background-position: center;
  top: 12px;
  left: 8px;
}

#list-container li.checked{
  color: #555;
  text-decoration: line-through;
}

#list-container li.checked::before{
  background-image: url(./images-3/checked.png);
}